name: Caddy

on:
  push:
    branches:
      - master
    paths:
      - caddy.Containerfile

jobs:
  build-image:
    name: Build Image
    runs-on: ubuntu-24.04
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write
    steps:
      - name: Code checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          sparse-checkout: |
            caddy.Containerfile

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: push
        env:
          # ref; https://docs.docker.com/build/ci/github-actions/reproducible-builds/
          SOURCE_DATE_EPOCH: 0
        with:
          context: .
          file: ./caddy.Containerfile
          platforms: linux/amd64,linux/arm64
          push: true
          sbom: true
          tags: ghcr.io/caddyserver/gateway:caddy-2.10.2
          build-args: |
            CADDY_VERSION=2.10.2
            CADDY_BUILDER_HASH=sha256:13bf132b50ab5a3abd4d62d4da27a9d8fd98818028746fe85e745d73e3e71f3d
            CADDY_HASH=sha256:87aa104ed6c658991e1b0672be271206b7cd9fec452d1bf3ed9ad6f8ab7a2348

      - name: Attest
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        id: attest
        with:
          subject-name: ghcr.io/caddyserver/gateway
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
