name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        go: ["1.23.7", "1.24.1"]
    permissions:
      contents: read
    steps:
      - name: Code checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Setup Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: ${{ matrix.go }}

      - name: go mod download
        env:
          CGO_ENABLED: 0
        run: |
          go mod download

      - name: go test
        env:
          CGO_ENABLED: 0
        run: |
          # This ShellCheck disable is for word-splitting which is something we
          # need to occur for this command to work correctly.
          #
          # shellcheck disable=SC2046
          go test $(go list ./... | grep -v /e2e)

      - name: go test -race
        env:
          CGO_ENABLED: 1
        run: |
          # This ShellCheck disable is for word-splitting which is something we
          # need to occur for this command to work correctly.
          #
          # shellcheck disable=SC2046
          go test -race $(go list ./... | grep -v /e2e)
