name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        go: ["1.24.7", "1.25.1"]
    permissions:
      contents: read
    steps:
      - name: Code checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}

      - name: go mod download
        env:
          CGO_ENABLED: 0
        run: |
          go mod download

      - name: go test
        env:
          CGO_ENABLED: 0
        run: |
          # This ShellCheck disable is for word-splitting which is something we
          # need to occur for this command to work correctly.
          #
          # shellcheck disable=SC2046
          go test $(go list ./... | grep -v /e2e)

      - name: go test -race
        env:
          CGO_ENABLED: 1
        run: |
          # This ShellCheck disable is for word-splitting which is something we
          # need to occur for this command to work correctly.
          #
          # shellcheck disable=SC2046
          go test -race $(go list ./... | grep -v /e2e)
