name: Nix

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  flake-check:
    name: flake check
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Code checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: nix flake check
        run: nix flake check
